In [4]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('DataSet2.csv')

In [8]:
df.head()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11
0,0,a,-0.375866,0.427942,-0.922338,0.210758,0.109015,0.621001,-0.444421,0.089970,-0.707711,0.473700
1,0,b,0.047819,0.115627,-1.781739,-0.272785,0.392783,1.094168,-0.975254,-0.353424,0.145543,-0.064961
2,1,d,0.372868,-0.263291,-1.120545,-0.773828,0.830072,-1.727836,1.323876,-1.587291,-0.024916,0.082491
3,0,c,0.059598,0.270797,0.961795,-1.804197,2.931330,1.891656,0.094252,-0.873467,-1.217680,-1.848046
4,1,d,0.616319,0.291275,-1.113519,0.626864,-0.287989,-0.842649,-0.947257,1.198215,0.972420,-1.054313

## POA
Data Preprocessing
    - Transformation: One-hot, normalization(different kinds of normalization)
    - Feature selection (correlation graph)
Model Selection:
    - Decision Tree
    - Random Forest
    - Logistic Regression
    - SVM
    - Stretch goals: Neural Network
Model Training:
    - Train-test-split
    - Cross-validation: 16
    - Hyperparameter tuning: learning rate (0.05), optimizer(Adam), grid search
Model Visualization
    - Correlation plots
    - Scatter plots - for both truth and model
    - Learning curve for algorithm performance
    - Confusion matrix
"""

In [25]:
# checking for presenc3e of null values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [y, x1, x2, x3, x4, x5, x6, x7, x8, x9, x10, x11]
Index: []

In [26]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [y, x1, x2, x3, x4, x5, x6, x7, x8, x9, x10, x11]
Index: []

In [34]:
# one hot encoding
oneHotEncodedDf = pd.get_dummies(df)
oneHotEncodedDf.head()

,y,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x1_a,x1_b,x1_c,x1_d
0,0,-0.375866,0.427942,-0.922338,0.210758,0.109015,0.621001,-0.444421,0.089970,-0.707711,0.473700,1,0,0,0
1,0,0.047819,0.115627,-1.781739,-0.272785,0.392783,1.094168,-0.975254,-0.353424,0.145543,-0.064961,0,1,0,0
2,1,0.372868,-0.263291,-1.120545,-0.773828,0.830072,-1.727836,1.323876,-1.587291,-0.024916,0.082491,0,0,0,1
3,0,0.059598,0.270797,0.961795,-1.804197,2.931330,1.891656,0.094252,-0.873467,-1.217680,-1.848046,0,0,1,0
4,1,0.616319,0.291275,-1.113519,0.626864,-0.287989,-0.842649,-0.947257,1.198215,0.972420,-1.054313,0,0,0,1

In [ ]:
from